
html{
	font-size: 1rem;
	box-sizing: border-box;
}

*,*:before, *:after{
	box-sizing: inherit;
}
body{
	margin: auto 0;
	height: 100%;
	padding: auto: 0;
	font-family: 'Nunito Sans';
	color: white;
}


/*NAVIGATION*/

.nav{
	display: flex;
	height: 13vh;
	background-color: #4E4545;
	z-index: 20;

}

.fixie{
	position: fixed;
	top: 0;
	width: 100%;
/*	left: 10rem;
	right: 10rem;*/
}

.links{
	display: flex;
	justify-content: flex-end;
	list-style: none;
	width: 100%;
}

.linkitem{
	display: flex;
	margin-top: auto;
	color: #E06C09;
	padding-left: 1em;
	padding-right: 1em;

}

.push{
	margin-right: auto;
	text-align: left;
	font-size: 2rem;
}

a:link{
	color: #E06C09
}

a:visited{
	color:#E06C09;
}

a:hover{
	color: #E06C09;
}

a:active{
	color:#E06C09;
}

/*PAGE WRAP*/

.page-wrap{
	background-color: white;
	height: auto;
	min-height: 100%;
/*	padding-left: 10rem;
	padding-right: 10rem;*/

}

/*COVER*/
.cover{
	display: block;
	height: 100%;
	text-align: center;
	background-color: gray;
	font-size: 2rem;
	color: orange;
	padding: 4em;
}

h5{
	margin-bottom: 0;
	color: white;
}

h1{
	color: #E06C09;
}



#first{
	margin-top: 0;
	margin-bottom: 0;
	font-size: 7rem;
}

#last{
	margin-top: 0;
	font-size: 7rem;
}

/*CONTENT*/

	/*ABOUT*/
.section{
	display: flex;
	background-color: #4E4545;
	position: relative;
	height: 13em;
	justify-content: center;
	padding: 1em;



}

.about{
	font-size: 2rem;
	position: absolute;
	padding: 1em;
	border: dotted 1px #000;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	left: 5em;
	right: 5em;
	bottom: 2em;



}

	/*OTHER CONTENT*/

/*h3{
	margin: 0;
	width: 100%;
}*/

.info{
	text-align: center;
	display: block;
	background-color: #4E4545;
	height: 100%;
	padding: 5em;

}

	/*PROFESSIONAL*/

.prof{
	margin: 5em;
	align-items: center;
	background-color: #4E4545;

}

.grid{
	width: 100%;
	display: grid;
	grid-template-columns: fit-content(200px) minmax(200px, 450px) fit-content(50px);
	justify-content: center;
}

.griditem{
	align-self: center;
}

progress[value]{
	-webkit-appearance:none;
	appearance: none;
	height: 75%;
	width: 95%;
	margin: 1em;

}

progress[value]::-webkit-progress-bar{
	background-color: #eee;
	border-radius: 2px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value{
/*	background-image:
		-webkit-linear-gradient(-45deg,
								transparent 33%, rgba(0,0,0,.1) 33%,
								rgba(0,0,0,.1) 66%, transparent 66%),
		-webkit-linear-gradient(top,
								rgba(255,255,255,.25),
								rgba(0,0,0,.25)),
		-webkit-linear-gradient(left, #09c, #f44);

		border-radius: 2px;
		background-size: 35px 20px, 100% 100%, 100% 100%;*/
		background-color: #E06C09;
}


/*EXPERIENCE*/

.exp{
	margin: 5em;
	margin-left: auto;
	margin-right: auto;
}


/* Set a background color */
body {
  background-color: #474e5d;
  font-family: Helvetica, sans-serif;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 80%;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/*INTERESTS*/

.interest{
	margin: 5em;
	margin-left: auto;
	margin-right: auto;
}

.intlinks{
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	width: 80%;
	margin-right: auto;
	margin-left: auto;

}

.intgrid{
	width: 100%;
	align-self: center;
	padding: 4em;
}


/*CONTACT*/


.contact{
	display: grid;
	grid-template-columns: 2fr  1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	width: 80%;
	margin: 5em;
	background-color: grey;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	font-size: 1.5rem;
	padding: 2em;
	grid-gap: 1em 1em;
	color: white;
	align-items: start;
}

input{
	width: 100%;
	height: 100%;
	font-size: 1.5rem;
}

.contactgrid{
	/*height: auto;*/
/*	margin-top: 1em;
	margin-bottom: 1em;*/
}

.goal{
	grid-row-start: span 4;
	display: block;
	text-align: left;

}

.phone{
	grid-row: 2;
	grid-column: 2/ span 2;
	width: 100%;
}

.message{
	grid-row: 3 / span 2;
	grid-column: 2/ span 2;
	height: 100%;
}

.submit{
	grid-row: 5;
	grid-column: 2/ span 2;
	background-color: #E06C09;
	color:white;
}

::placeholder{
	font-size: 2rem;
}

textarea{
	resize:none;
	font-size: 2rem;
}

h4{
	margin: 0;
}

/*FOOTER*/

footer{
	display: flex;
	background-color: grey;
	justify-content: center;
	align-items: center;
}
/*
h1::before{
	display: block;
	content: "";
	margin-top: -285px;
	height: 285px;
	visibility: hidden;
	pointer-events: none;
}*/


/*MEDIA QUERIES*/

@media screen and (min-width : 1224px)
and (max-width: 1823px){
	/*NAVIGATION BAR*/
	.nav{
		height: 10vh;
	}

	/*COVER*/
	.cover{
	font-size: 1.5rem;
	padding: 5em;
	}

	#first{
		font-size: 5rem;
	}

	#last{
		font-size: 5rem;
	}

	/*ABOUT*/

	.section{
		height: 13em;
		padding: 1em;

	}

	.about{
		font-size: 1.5rem;
		bottom: 4em;
	}

/*	.grid{
		display: grid;
		grid-template-columns: 1fr  2.5fr .5fr;
		margin-left: auto;
		margin-right: auto;
	}

	.griditem{
		width: 100%;
		align-self: center;
		margin: .5em;
	}

	progress[value]{
		-webkit-appearance:none;
		appearance: none;
		height: 1.5rem;
		width: 25rem;
	}

	progress[value]::-webkit-progress-bar{
		background-color: #eee;
		border-radius: 2px;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
	}

	progress[value]::-webkit-progress-value{
		background-image:
			-webkit-linear-gradient(-45deg,
									transparent 33%, rgba(0,0,0,.1) 33%,
									rgba(0,0,0,.1) 66%, transparent 66%),
			-webkit-linear-gradient(top,
									rgba(255,255,255,.25),
									rgba(0,0,0,.25)),
			-webkit-linear-gradient(left, #09c, #f44);

			border-radius: 2px;
			background-size: 35px 20px, 100% 100%, 100% 100%;
	}*/

}

@media screen and (min-width : 480px)
and (max-width: 1223px){
	.nav{
		height: 7vh;
	}
}

@media screen and (min-width : 320px){

}


